

body{    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.navbar-collapse{
    align-content: right;
}
.navbar{
    box-shadow: 0 0 10px 0;
}

p{
    font-size: 1.2rem;
    margin-bottom: 0rem !important;    
}
.navig{
   
    font-weight: 500;
    text-transform: uppercase;
    color: black !important;
}

.navig:hover{
    color: #f9bc50 !important;
    transition: 0.2s ease;
    transform: scale(0.9);
    }

.about{
    background-image: url('./assets/images/8abec69b69564f4ab27d102a393276d1.jpg');
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
    height: 100vh;    
    
   
    
}
 .home-content-container{    
    width: auto;
    height: 100vh;
    background:rgba(16, 10, 34, 0.5);
    
} 
.home-content{
    padding-top: 30vh;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.home-content h3{
 font-size: 2.5rem;
}
.home-content h1{
    font-size: 3.5rem;
   }
.home-content h2{
    text-transform: initial ;
    margin-bottom: 15rem;
    
}

.buttons{
    display: flex;
    justify-content: center;
}
.about-button{
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.9rem 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    border:none;
    border-radius: 45px;
    text-decoration: none;

}

.btn1{    
    background: #f9bc50;
    color: white;
}
.btn1:hover{
    background: white;
    color:#f9bc50
}
.btn2:hover{    
    background: #f9bc50;
    color: white;
}
.btn2{
    background: white;
    color:#f9bc50
}










.informations{
    padding-top: 9rem;
    padding-bottom: 4rem;
    

}
.monceau{
    text-transform: initial;
    text-decoration: none;
    color:black;
    font-style: italic;
}
.infos-content{
    text-align: center;
    margin-bottom: 5rem;
}

.infos-content h4{
    font-size: 3rem;
}
.infos-content h5{
    font-size: 2rem;
    font-style: italic;
    color: #f9bc50;
    margin-bottom: 3rem;
}
.metro{
    border: solid 1px;
    border-radius: 25px;
    padding: 0px 4px;
    margin-right: 1rem;
    color: #f9bc50;
    
}
.metromaps{
    display: inline-block;
    padding-bottom: 1rem;
}
.access-container{
    display: flex;
    justify-content: space-around;
    
    
}


.access-title,.access-infos h5{
    color: #f9bc50;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.access-infos-container{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    
}
.material-icons{
    color:grey;
    margin-right: 1rem;
}



.nav-link.active{
    background: #f9bc50 !important;
    font-weight: 500;
    text-transform: uppercase;
    color: black !important;
    border: none !important;
}


.actus{
    padding-top: 9rem;
    padding-bottom: 4rem;
    
}

.btn3{
    font-weight: 500;
    text-transform: uppercase;
    color: black !important;
}

.movies{
    padding-top: 9rem;
    padding-bottom: 4rem;
    background: rgb(241, 241, 241);
    

}

.movie-title{
    padding-bottom: 4rem;
}

.poi{
    justify-content: center;
}
.nav-link:hover{
    border-color: rgb(241, 241, 241)!important;
}
.nav-tabs{
    border:none !important;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}
.card{
    
    width: 25rem;
    margin-left: 2rem;
    margin-right: 2rem;
      
}
.card-img-top{
    width: 100% !important;
    height: 65%!important;
    align-content: center;
}
.card-title, .ty{
    color: #f9bc50;
}
.card-text{
    margin-bottom: 2rem!important;
    margin-top: 1rem !important;
}
.btn-primary{
    background: #f9bc50!important;
    color: black!important;
    border: none !important;
}

.contact{
    background: rgb(241, 241, 241)!important;
    padding-top: 9rem;
    padding-bottom: 9rem;
}

.contact-content{
    display: flex;
    justify-content: space-evenly;    
    
}

.contact-card{
    
    text-align: center;
    padding: 1rem;
    width: 250px;
    
}
.contact-card a{
    text-decoration: none;
    color: black;
}
#contact .contact-card:hover i,#contact .contact-card:hover h4{
	color: #f9bc50
}

.footer-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.logo-footer{
    margin-top: 1rem;
}
.social-footer{
    margin-bottom: 1rem;
}
.social-footer i{
    font-size: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

}
.social-footer i:hover{
    color: #f9bc50;
}
.footer-container a{
    text-decoration: none;
    color: black;
    margin-bottom: 2rem;
}
.footer-container a:hover{
    color: #f9bc50;
}
.contact-info-footer{
    margin-top: 1rem;
}
.btn{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.timeline {
    list-style: none;
    padding: 0;

}

.timeline-inverted{
background:rgb(241,241,241);

}

.container-fluid{
    padding: 0!important;
}

.timeline-heading, .timeline-body{
    padding-left: 2rem;
}

.timeline-body{
    display: flex;
    align-items: center;
}
.timeline-body p{
    margin-left: 1rem;
}

.timeline-badge{
    margin-bottom: 2rem;
    
}

.timeline-panel{
    padding: 1rem 0;

}

.maps iframe{
    width: 500px;
    height: 250px;

}

@media (max-width: 992px){
    .home-content h1{
        font-size: 2.8rem;
    }
    .access-container{
        display: block;
        text-align: center;
    }
    .access-infos-container{
        display: block;
        text-align: center;
    }

    .access-infos h5{
        margin-top: 5rem;
    }
    .material-icons{
        font-size: 5rem!important;
    }

    .cards{
        flex-wrap: wrap;
        flex-direction: column;
        
    }
    .card{
        width:60vw;
        margin: auto;
        margin-bottom: 5rem;
    }
    
}
 @media (max-width:600px){
    .home-content h2{
        margin-bottom: 7rem;
    }
    .about-button{
        margin-bottom: 1rem;
    }
    .buttons{
        
        flex-direction: column;
        width: 15rem;
        margin:auto;
        
    }

    .maps iframe{
        width: 90vw;
    }
    .card{
        width:80vw;
        margin: auto;
        margin-bottom: 5rem;
    }
    .content-container p{
        width: 80vw
    }
    .contact-content{
        display: block;
        
               
    }
    .contact-card{
        justify-content: center;
        width: auto;
        padding: 0;
    }
    .timeline-body{
        display: block;
        text-align: center;
    }

} 
@media (max-width:500px){
    .home-content h1{
        font-size: 2rem;
    }
    .home-content h3{
       font-size: 1.5rem;
    }
    .home-content h2{
        font-size: 1rem;
    }

    .infos-content h4{
        font-size: 2rem;
    }
    .infos-content h5{
        font-size: 1.2rem;
    }
    .infos-content p{
        font-size: 0.9rem;
    }

    .access-infos-container p{
        font-size: 0.9rem;
    }
    .movie-title{
        font-size: 1.2rem;
    }

    .card{
        width: 90vw;
    }
    .timeline-body{
        padding-left: 0;
        text-align: justify; ;
    }
    .timeline-body img{
        display: none;

    }
    .timeline-body p{
        margin-left:0.5rem;
        margin-right: 0.5rem;
    }
    .timeline-heading{
        padding-left: 0;
        margin-left: 0.5rem;
    }
    .contact-card{
        margin-bottom: 3rem;
    }
    .footer-container p{
        font-size: 1rem;
    }

}
